<!-- Rules -->
<form id="tab2">
    <fieldset>
            <div class="control-group">
               <ul class="list-group">
                  <li class="list-group-item">
                    <label class="checkbox">
                    	<input type="checkbox" value="1" id="friendlyfire_rbac">
                    	{{_ 'Friendly fire' }}
                    </label>
                  </li>
                  <li class="list-group-item">
                    <label class="checkbox">
                    	<input type="checkbox" value="1" id="admin_rbac">
                    	{{_ 'Administrator' }}
                    </label>
                  </li>
                  <li class="list-group-item">
                    <label class="checkbox">
                    	<input type="checkbox" value="1" id="mod_rbac">
                    	{{_ 'Moderator' }}
                    </label>
                  </li>
                  <li class="list-group-item">
                    <label class="checkbox">
                    	<input type="checkbox" value="1" id="frontdev_rbac">
                    	{{_ 'Front end web developer' }}
                    </label>
                  </li>
                  <li class="list-group-item">
                    <label class="checkbox">
                    	<input type="checkbox" value="1" id="backdev_rbac">
                    	{{_ 'Back end web developer' }}
                    </label>
                  </li>
                  <li class="list-group-item">
                    <label class="checkbox">
                    	<input type="checkbox" value="1" id="gfx_rbac">
                    	{{_ 'Graphic designer' }}
                    </label>
                  </li>
                  <li class="list-group-item">
                    <label class="checkbox">
                    	<input type="checkbox" value="1" id="audio_rbac">
                    	{{_ 'Audio Engineer' }}
                    </label>
                  </li>
                  <li class="list-group-item">
                    <label class="checkbox">
                    	<input type="checkbox" value="1" id="dbman_rbac">
                    	{{_ 'Database manager' }}
                    </label>
                  </li>
                  <li class="list-group-item">
                    <label class="checkbox">
                    	<input type="checkbox" value="1" id="owner_rbac">
                    	{{_ 'Owner' }}
                    </label>
                  </li>
               </ul>
            </div>
         </fieldset>
</form>